/ only if you need custom infoboxes
%div{:style => "width: 640px;"}
  #map{:style => "width: 640px; height: 640px;"}

%table{:border => 1}
  %tr
    %td id
    %td area
    %td region
    %td ni_p50
    %td ox_p50
    %td ph_p50
    %td ts_min
    %td ts_p50
    %td ts_max
    %td lat
    %td lng
    %td area_id
    %td garbage_active
    %td water_active
    %td x
    %td y
  - @qualities.each do |q|
    %tr
      %td
        = q.id
      %td
        = q.area
      %td
        = q.region
      %td
        = q.ni_p50
      %td
        = q.ox_p50
      %td
        = q.ph_p50
      %td
        = q.ts_min
      %td
        = q.ts_p50
      %td
        = q.ts_max
      %td
        = q.latitude
      %td
        = q.longitude
      %td
        = q.area_id
      %td
        = q.garbage_active
      %td
        = q.water_active
      %td
        = q.x
      %td
        = q.y

:javascript
  $( document ).ready(function() {
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(#{raw @hash.to_json});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  });