/ only if you need custom infoboxes
%div{:style => "width: 1800px;"}
  #map{:style => "width: 1800px; height: 800px;"}

%table{:border => 1}
  %tr
    %td id
    %td area
    %td region
    %td am_n
    %td am_min
    %td am_p25
    %td am_p50
    %td am_p75
    %td am_max
    %td ts_n
    %td ts_min
    %td ts_p25
    %td ts_p50
    %td ts_p75
    %td ts_max
    %td lat
    %td lng
  - @qualities.each do |q|
    %tr
      %td
        = q.id
      %td
        = q.area
      %td
        = q.region
      %td
        = q.am_n
      %td
        = q.am_min
      %td
        = q.am_p25
      %td
        = q.am_p50
      %td
        = q.am_p75
      %td
        = q.am_max
      %td
        = q.ts_n
      %td
        = q.ts_min
      %td
        = q.ts_p25
      %td
        = q.ts_p50
      %td
        = q.ts_p75
      %td
        = q.ts_max
      %td
        = q.latitude
      %td
        = q.longitude

:javascript
  $( document ).ready(function() {
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      //markers = handler.addMarkers(#{raw @hash.to_json});
      markers = handler.addMarkers(#{raw @hash.to_json});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  });